*
{
    margin:0;
}

.gambar {
  
  background: url('bg3.png');
	color: rgb(255, 255, 255);
    background-size: 100%;
    background-attachment: fixed;
    height: 650px;
    width: 100%;
}

.uk1{
  height: 200px;
  width: 200px;
}

.uk2{
  height: 200px;
  width: 200px;
}

.uk3{
  height: 200px;
  width: 200px;
}

.materi {
    height: 200px;
    width:200px;
    float: left;
    margin-left: 150px;
    margin-top: 150px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
}

.materi:hover{
  box-shadow: 0 12px 16px 0 #ff5722,0 17px 50px 0 #ff5722;
}


.kikd {
    height: 200px;
    width:200px;
    float: left;
    margin-left: 150px;
    margin-top: 150px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.kikd:hover{
  box-shadow: 0 12px 16px 0 #ff5722,0 17px 50px 0 #ff5722;
}

.info {
    height: 190px;
    width:200px;  
    float: left;
    margin-left: 150px;
    margin-top: 150px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.info:hover{
  box-shadow: 0 12px 16px 0 #ff5722,0 17px 50px 0 #ff5722;
}

.footer {
        background-color:#827717 ;
        text-align: center;
        font-size: 18px;
        padding: 6px;
        margin-top: 524px;
        }

@media only screen and (max-width: 1020px) 
{
          .gambar{
            width: auto;
            height: auto;
          }
        
          .uk1{
            width: auto;
            height: auto;
          }
        
          .uk2{
              width: auto;
              height: auto;
          }
        
          .uk3{
            width: auto;
            height: auto;
          }

          .materi{
            width: auto;
            height: auto;
          }

          .materi:hover{
            width: auto;
            height: auto;
          }

          .kikd{
            width: auto;
            height: auto;
          }

          .kikd:hover{
            width: auto;
            height: auto;
          }

          .info{
            width: auto;
            height: auto;
          }

          .info:hover{
            width: auto;
            height: auto;
          }

          .footer{
            width: auto;
            height: auto;
          }
        }
