.data_diri{
    width: 90%;
    text-align: justify;
    border: 3px solid #048a0f;
    padding: 10px 20px 20px 20px;
}

label {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
}

.mundu{
    margin-left: 5% !important;
    display: inline-block;
}

.mundur {
    margin-left: 14% !important;
    display: inline-block;
}

.mundurr{
    margin-left: 17% !important;
    display: inline-block;
}

#nama{
    width: 51.5%;
    height: 25px;
    padding: 0px 10px;
}

#sekolah, #kelas{
    width: 56%;
    height: 25px;
    padding: 0px 10px;
}

.lanjut, .tmblUlang{
    background-color: #02da0d;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    margin-right: 10px;
    width: auto;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.lanjut:hover{
    background-color: #1e961a;
  color: black;
}

.tmblUlang:hover{
    background-color: #98ff7e;
  color: black;
}

.tt_salah {
    border: 2px solid rgb(176, 219, 75);
}

.hilang {
    display: none;
}

.bg_nav {
    width: 99%;
    background-color: #1cad09;
    border-radius: 10px;
}

.bg_full {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px dotted #a2fd9a;

}

.text {
    font-size: 18px;
    font-weight: bold;
}

.bg_soal {
    width: 100%;
    padding: 10px 0;
    background-color: #8FBC8B;
    border-radius: 10px;
}

.bg_soal span {
    padding: 2px;
    display: inline-block;
    width: 60px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 5px;
}

.soal_nav {
    width: 14%;
    height: 18%;
    padding: 2px;
    text-align: center;
    border: 2px solid #90fc2a;
    border-radius: 5px;
    float: left;
    margin-left: 8.5%;
    margin-top: 10px;
    box-sizing: border-box;
}

.soal_nav:hover {
    cursor: pointer;
    background-color:#6fff62;
    color: white;
}

.belum {
    background-color: white;
}

.fontsedang {
    font-size: 16px;
}

.clear {
    clear: both;
}

.ket {
    width: 100%;
    margin-left: 8.5%;
    margin-top: 10px;
}

.sudah {
    background-color: #51cd18;
    color: white;
}

.selesai {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    width: 80%;
    background-color: #91ee27;
    cursor: pointer;
    height: 30px;
    border-radius: 10px;
    line-height: 30px;
    margin-left: 10%;
}

.selesai:hover {
    background-color:  #51cd18;
    color: white;
}

.bg_pertanyaan {
    width: 100%;
}

.no {
    padding: 10px 0;
}

.no p {
    margin-left: 24px !important;
    font-size: 18px;
}

.inti_pertanyaan {
    padding: 10px 20px;
}

.pertanyaannya {
    border-left: 4px solid #0bc404;
    padding-left: 15px;
    font-size: 18px;
}

.batas {
    margin-top: 20px;
    border-bottom: 1px solid #0c9600;
}

.lisoal li{
    margin-left: 25px;
}
/* radio button */

.bg_pilihan,
.checkbox {
    position: relative;
    margin: 20px 0;
    display: block;
    font-size: 18px;
}

.bg_pilihan :hover,
.checkbox:hover {
    cursor: pointer;
}


.checkbox {
    display: block;
}

.bg_pilihan input,
.checkbox input {
    position: absolute;
    margin: 5px;
    padding: 0;
    visibility: hidden;
}

.bg_pilihan .textnya,
.checkbox .textnya {
    margin-left: 30px;
    margin-bottom: 0;
}

.nav_pilihan,
.fake-checkbox {
    position: absolute;
    display: block;
    top: 0;
    left: 3px;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(9, 64, 82);
    background-color: rgb(131, 176, 190);
}

.nav_pilihan:after,
.fake-checkbox:after {
    content: "";
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    background: rgb(9, 64, 82);
    transform: translateX(-50%) translateY(-50%);
}

.nav_pilihan {
    border-radius: 50%;
}

.nav_pilihan:after {
    border-radius: 50%;
}

input[type="radio"]:checked+span .nav_pilihan:after {
    display: block;
}

/* akhir button */


.nav_sebelum {
    background-color: #96d38e;
    width: 20%;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid  #137905;
    cursor: pointer;
    display: inline-block;
    margin-right: 3%;
}

.nav_sebelum:hover {
    background-color:  #137905;
    color: white;
}

.nav_sebelum p {
    font-size: 18px;
}

.nav_selanjut {
    background-color: #96d38e;
    width: 20%;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid  #137905;
    cursor: pointer;
    display: inline-block;
    margin-right: 3%;

}

.nav_selanjut:hover {
    background-color:  #137905;
    color: white;
}

.nav_selanjut p {
    font-size: 18px;
}

p{
    display: inline;
}

.dataaa {
    min-height: 400px;
    background-color: white;
}

.skornya {
    margin-top: 10px;
    margin-left: 0px;
    font-size: 23px;
    padding-top: 10px 0px;
    min-height: 450px;
    border-radius: 5px;
}

.t_hasil {
    border: 5px solid rgb(0, 139, 63);
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    text-align: justify;
}

.ket_hasil {
    width: 150px;
    font-size: 20px;
    padding: 5px !important;
}

.ket_ulang{
    font-size: 20px;
}


/*TAMPILAN HP*/
@media screen and (max-width: 992px){
    .data_diri{
        padding: 10px 0px 10px 20px;
    }
    .mundu{
        margin-left: 8% !important;
    }
    .mundur {
        margin-left: 22% !important;
    }
    .mundurr{
        margin-left: 27% !important;
    }
    label {
        width: 90%;
    }
    .lanjut:hover{
        background-color: #137905;
      color: white;
    }
    .tmblUlang:hover{
        background-color: #137905;
      color: white;
    }
    #nama{
        width: 53%;
        height: 25px;
        padding: 0px 10px;
    }
    #sekolah, #kelas{
        width: 60%;
        height: 25px;
        padding: 0px 10px;
    }
    .bg_soal span {
        padding: 2px;
        display: inline-block;
        width: 100px;
        margin-bottom: 5px;
        text-align: center;
        border-radius: 5px;
    }
    .soal_nav {
        width: 10%;
        height: 20%;
        margin-left: 8.5%;
    }
    .no {
        padding: 10px;
    }
    .no p {
        margin-left: 10px;
    }
    .inti_pertanyaan {
        padding: 5px 10px;
    }
    .nav_pilihan,
    .fake-checkbox{
        width: 16px;
        height: 16px;
    }
    .nav_pilihan:after,
    .fake-checkbox:after {
        width: 12px;
        height: 12px;
    }
    .pertanyaannya {
        padding-left: 15px;
        font-size: 16px;
    }
    .bg_pilihan,
    .checkbox {
        font-size: 16px;
    }
    .nav_sebelum {
        width: 26%;
    }
    .nav_sebelum:hover{
        background-color:  #96d38e;
        color: black;
    }
    .nav_sebelum p {
        font-size: 14px;
    }
    .nav_selanjut {
        width: 26%;
    }
    .nav_selanjut:hover{
        background-color:  #96d38e;
        color: black;
    }
    .nav_selanjut p {
        font-size: 14px;
    }
    .dataaa{
        height: auto;
    }
    .t_hasil{
        border: 4px solid rgb(9, 64, 82);
        border-radius: 5px;
        padding: 5px;
        width: 97%;
        font-size: 14px;
    }
    .ket_hasil{
        font-size: 14px;
    }
    .skornya{
        padding-top: 0px;
        margin-top: 0px;
    }
    .ket_ulang{
        font-size: 16px;
    }
}